.forecastIcon {
  height: 36px;
  width: 36px;
}

.forecastBox {
  text-align: center;
  background: rgba(192, 192, 192, 0.7);
  border-radius: 10px;
}

.forecastIcon {
  margin-left: 10px;
  margin-right: 10px;
}
